* {
    padding: 0px;
    margin: 0px;
  }
  
  .sky {
    height: 100vh;
    width: 100%;
    /* background-image: url('https://i.imgur.com/gNXpUHL.jpg'); */
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
  }
  
  .highway {
    height: 200px;
    width: 1000%;
    display: block;
    /* background-image: url(".images/road"); */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-repeat: repeat;
    animation: highway 12s linear infinite;
  }
  
  @keyframes highway {
    100% {
      transform: translateX(-3000px);
    }
  }
  
  .city {
    height: 240px;
    width: 500%;
    display: block;
    /* background-image: url(..images/building.png); */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 200px;
    z-index: 1;
    background-repeat: repeat;
    animation: city 20s linear infinite;
  }
  
  @keyframes city {
    100% {
      transform: translateX(-1500px);
    }
  }
  
  .car {
    width: 400px;
    left: 75%;
    bottom: 0px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
  }
  
  .car img {
    width: 100%;
    animation: car 1.5s linear infinite;
  }
  
  @keyframes car {
    0% {
      transform: translateY(-4px);
    }
  
    50% {
      transform: translateY(0px);
    }
  
    100% {
      transform: translateY(-4px);
    }
  }
  
  .wheel {
    left: 75%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 85px;
    z-index: 2;
  }
  
  .wheel img {
    width: 72px;
    height: 72px;
    animation: wheel 2s linear infinite;
  }
  
  @keyframes wheel {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .frontwheel {
    position: absolute;
    left: 80px;
  }
  
  .backwheel {
    position: absolute;
    left: -165px;
  }

  /* css for second rare car */
  .car2 {
    width: 400px;
    left: 25%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
  }
  
  .car2 img {
    width: 80%;
    animation: car2 1s linear infinite;
  }
  
  @keyframes car2 {
    0% {
      transform: translateY(-0px);
    }
  
    50% {
      transform: translateY(2px);
    }
  
    100% {
      transform: translateY(-0px);
    }
  }
  
  .wheel2 {
    left: 20%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 165px;
    z-index: 2;
  }
  
  .wheel2 img {
    width: 58px;
    height: 58px;
    animation: wheel 2s linear infinite;
  }
  
  @keyframes wheel2 {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .frontwheel2 {
    position: absolute;
    left: 87px;
  }
  
  .backwheel2 {
    position: absolute;
    left: -109px;
  }